.amill__brand-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.amill__brand-section div {
    display: flex;
    width: 120px;
    margin: 12px;
}

.amill__brand-section div>img {
    width: 100%;
}