.amill__cta-section {
    padding: 40px 0;
}

.amill__cta-container {
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background: var(--gradient-text);
    border-radius: 20px;
    display: flex;
}

.amill__cta-writeUpHolder {
    width: 70%;
}

.amill__cta-writeUpHolder h2 {
    font-family: var(--font-headers);
}

.amill__cta-container button {
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 20px;
    color: var(--color-white);
    background: var(--color-bg);
}

@media screen and (max-width: 700px) {
    .amill__cta-container {
        width: 100%;
        flex-flow: column;
        align-items: flex-start;
    }

    .amill__cta-container button {
        margin: 10px 0;
    }
}